.headerTwo {
  font-size: 60px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-shadow: 3px 3px 6px black;
}

.divers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 8.5%;
}

img {
  height: 250px;
  width: 250px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}

.headerTwo {
  font-family: "Graduate", cursive;
}
