:root {
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/AmFBfield.svg/1200px-AmFBfield.svg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  background-color: green;
  background-position: 4px 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
